.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position:relative;
    background-color: #f2f2f2;
    display: flex;
    margin-bottom:100px;
    /* overflow: hidden;  */
  
    /* выше установили ограничения для секции */
  }
  .header_link, .fainman_link, .footer_column_link {
    text-decoration: none;
  }
  .logo{
    height: 32px;
    width: 228px;
  }
  .logo_place_header{
    position:absolute;
    z-index: 1;
    left: 64px;
    top:30px;
    
  }
   .header_title{
    align-self: center;
    z-index: 1;
    font-size:102px;
    font-weight: 600;
    height: 96px;
    width: 730px;
    margin-left:64px;
    margin-bottom: 200px;
  
    
  } 
  
  .header_subtitle{
    z-index: 2;
    position: absolute;
    align-self: flex-end;
    margin-left:64px;
    margin-bottom: 80px;
    width: 388px;
    height: 25px;
    font-size:18px;
    font-weight: normal; 
  
  }
  
  .header_link{
    color:#2f80ed;
    left: 120px;
    bottom: 42px;
    font-size:18px;
    
  }
  
  .header_main-illustration{
    z-index: 1;
    position:absolute;
    right:0px;
    bottom: 0px;
    width: 765px;
    height: 608px;
    max-width:50%;
  }
  
  .header_square-pic {
    position: absolute;
    right:0;
    top:64px;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
  }