.footer {
    padding-top: 60px;
    background-color: #1f1f1f;
    padding-top: 60px;
    min-height: 250px; 
     
  }
  .footer_columns {
    display:flex;
    justify-content: space-between;
    width: 90%;
  }
  .footer_column__content_copyright {
    display: flex; 
    flex-basis: 711px;
    flex-direction: column; 
    justify-content: space-between;
    /* align-self: center ; */
    margin-left: 100px;
  }
  .footer_autor{
    line-height: 25px;
    font-size:18px;
    font-weight: normal;
    /* padding-top: 18px;
    padding-bottom: 18px;  */
  
  }
  .footer_column__content_info{
    flex-basis: 300px;
  }
  .footer_column-heading{
    margin-bottom: 20px;
    line-height: 30px;
    font-size:18px;
    font-weight: 600;
  }
  
  
  .footer_column-links{
    display:flex;
    flex-direction: column;
    padding-bottom: 16px;
  }
  
  
  .footer_column_link{
    line-height: 30px;
    font-size:18px;
    font-weight: normal;
  }
  
  .logo_place_footer{
    width: 228px;
    height: 32px;
  }
  
  
  .footer_autor, .footer_column-heading, .footer_column_link{
    color:#f2f2f2;
  }
  
  .footer_social_icon{
    width: 16px;
    height: 16px;
    padding-right: 10px;
  }